#nav {
    position: fixed;
    padding: 10px;
    margin: 0;
    display: block;
    z-index: 1;
    justify-content: space-between;
    width: 100%;
    top: 50px;
    overflow-x: hidden;
    background-color: blueviolet;
  }
#name{
    text-align: center;
    background-color: blueviolet;
}

/* navbar */
a{
    text-decoration: none;
    color: black;
}
#navbar{
    /* justify-self: end; */
    text-align: center;
}
ul {
    text-align: center;
}


li{
    display: inline;
    list-style: none;
    font-size: 1.5vw;
    margin: 10px;
}